.cards{
    border: 1px solid rgb(128, 199, 199);
    background-color: white;
    width: 300px;
    height: 500px;
    position: relative;
    padding: 8px;
    border-radius: 8px;
}
.card-img-top{
    height: 200px;
    width: 300px;
    border-radius: 8px;
}

.card-body button{
    width: 100%;
    padding: 20px 25px;
    background-color: rgb(128, 199, 199);
    border: none;
    position: absolute;
    bottom: 0;
    left: 0%;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
    transition: .5s;
}
.card-body button:hover{
    background-color: rgb(6, 187, 187);
}