.slider-body{
    width: 20%;
    /* background-color: rgb(173, 173, 192); */
}
.health-check-container{
    background-color: rgb(240, 238, 238);
    height: 60px;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}
.health-check-container ul{
    display: flex;
    justify-content: center;
    padding: 0;
    
}
.health-check-container li{
    list-style: none;
    padding: 0 12px;
    margin-top: 5px;
}


.break-container{
    background-color: rgb(240, 238, 238);
    height: 60px;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}

.break-container ul{
    display: flex;
    justify-content: center;
    padding: 0;
    
}
.break-container li{
    list-style: none;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0 5px;
    margin: 10px 5px ;
}
.exercise-details, .break-details{
    background-color: rgb(240, 238, 238);
    height: 60px;
    width: 90%;
    margin: 0 auto;
    padding: 0 5px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.slider-body button{
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(98, 98, 228);
    width: 90%;
    padding: 15px;
}